<a href="https://colab.research.google.com/github/gerbaudo/effective_pandas/blob/main/Chapters_1_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 2

In [1]:
import pandas as pd
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : 66e3805b8cabe977f40c05259cc3fcf7ead5687d
python           : 3.7.15.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.10.133+
Version          : #1 SMP Fri Aug 26 08:44:51 UTC 2022
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : None
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 1.3.5
numpy            : 1.21.6
pytz             : 2022.6
dateutil         : 2.8.2
pip              : 21.1.3
setuptools       : 57.4.0
Cython           : 0.29.32
pytest           : 3.6.4
hypothesis       : None
sphinx           : 1.8.6
blosc            : None
feather          : 0.4.1
xlsxwriter       : None
lxml.etree       : 4.9.1
html5lib         : 1.0.1
pymysql          : None
psycopg2         : 2.9.5 (dt dec pq3 ext lo64)
jinja2           : 2.11.3
IPython          : 7.9.0
pandas_datareader: 0.9.0
bs4              : 4.6.3
bottleneck       : None
fsspec           : 2022.10.0
fastparquet      : None
gcsfs            : None
matplotlib       : 3.2.2
numexpr          : 2.8.4
odfpy            : None
openpyxl         : 3.0.10
pandas_gbq       : 0.17.9
pyarrow          : 6.0.1
pyxlsb           : None
s3fs             : None
scipy            : 1.7.3
sqlalchemy       : 1.4.43
tables           : 3.7.0
tabulate         : 0.8.10
xarray           : 0.20.2
xlrd             : 1.1.0
xlwt             : 1.3.0
numba            : 0.56.4

# Chapter 4

Create a series with the temperatures from the last seven days. Filter our the values below the mean.

In [5]:
temps = pd.Series([3.15, 1.9, 2.85, 0.25, 1.2, -0.95, -3.1],
                  name='temperatures')
temps[temps > temps.mean()]

0    3.15
1    1.90
2    2.85
4    1.20
Name: temperatures, dtype: float64

Create a series with your favorite colors. Use the categorical type.

In [11]:
my_cols = pd.Series(data=['r', 'g', 'b'], dtype='category')
my_cols

0    r
1    g
2    b
dtype: category
Categories (3, object): ['b', 'g', 'r']

# Chapter 5: Series deep dive
1. Explore the documentation for five attributes of a series from Jupyter
2. How many attributes are found on the `.str` attribute? Loot at the
documentation for three of them.
3. How many attributes are found on the `.dt` attribute? Look at the
documentation for three of them.

In [29]:
import random
import numpy as np

def not_dunder(lst: list) -> list:
  'from a list of attributes remove the dunder ones'
  return [ _ for _ in lst if not _.startswith('_')]
print('5 series attributes: ', random.sample(not_dunder(dir(my_cols)), 5))
print('3 series.str attributes: ',random.sample(not_dunder(dir(my_cols.str)), 3))

# the dt attributes can be accessed only from datetime series
dts = pd.Series(data=[], dtype='datetime64[ns]')
print('3 series.dt attributes: ', random.sample(not_dunder(dir(dts.dt)), 3))

5 series attributes:  ['iteritems', 'hasnans', 'median', 'to_clipboard', 'argsort']
3 series.str attributes:  ['isupper', 'contains', 'lstrip']
3 series.dt attributes:  ['second', 'to_period', 'dayofyear']

# Chapter 6: Operators (& dunder methods)
1. Add a numeric series to itself
2. Add 10 to a numeric series
3. Add a numeric series to itself using the `.add` method
4. Read the documentation for the `.add` method

In [30]:
url = 'https://github.com/mattharrison/datasets/raw/master/data/vehicles.csv.zip'
df = pd.read_csv(url)
city_mpg = df.city08

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [32]:
city_mpg + city_mpg

0        38
1        18
2        46
3        20
4        34
         ..
41139    38
41140    40
41141    36
41142    36
41143    32
Name: city08, Length: 41144, dtype: int64

In [33]:
city_mpg+10

0        29
1        19
2        33
3        20
4        27
         ..
41139    29
41140    30
41141    28
41142    28
41143    26
Name: city08, Length: 41144, dtype: int64

In [34]:
city_mpg.add(city_mpg)

0        38
1        18
2        46
3        20
4        34
         ..
41139    38
41140    40
41141    36
41142    36
41143    32
Name: city08, Length: 41144, dtype: int64

In [35]:
city_mpg.add?

# Chapter 7: Aggregate methods

1. find the count of non-missing values of a series
2. find the number of entries of a series
3. find the number of unique entries of a series
4. find the mean value of a series
5. find the maximum value of a series
6. use the `.agg` method to find all of the above

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41144 entries, 0 to 41143
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        41144 non-null  float64
 1   barrelsA08       41144 non-null  float64
 2   charge120        41144 non-null  float64
 3   charge240        41144 non-null  float64
 4   city08           41144 non-null  int64
 5   city08U          41144 non-null  float64
 6   cityA08          41144 non-null  int64
 7   cityA08U         41144 non-null  float64
 8   cityCD           41144 non-null  float64
 9   cityE            41144 non-null  float64
 10  cityUF           41144 non-null  float64
 11  co2              41144 non-null  int64
 12  co2A             41144 non-null  int64
 13  co2TailpipeAGpm  41144 non-null  float64
 14  co2TailpipeGpm   41144 non-null  float64
 15  comb08           41144 non-null  int64
 16  comb08U          41144 non-null  float64
 17  combA08          41144 non-null  int64
 18  combA08U         41144 non-null  float64
 19  combE            41144 non-null  float64
 20  combinedCD       41144 non-null  float64
 21  combinedUF       41144 non-null  float64
 22  cylinders        40938 non-null  float64
 23  displ            40940 non-null  float64
 24  drive            39955 non-null  object
 25  engId            41144 non-null  int64
 26  eng_dscr         24991 non-null  object
 27  feScore          41144 non-null  int64
 28  fuelCost08       41144 non-null  int64
 29  fuelCostA08      41144 non-null  int64
 30  fuelType         41144 non-null  object
 31  fuelType1        41144 non-null  object
 32  ghgScore         41144 non-null  int64
 33  ghgScoreA        41144 non-null  int64
 34  highway08        41144 non-null  int64
 35  highway08U       41144 non-null  float64
 36  highwayA08       41144 non-null  int64
 37  highwayA08U      41144 non-null  float64
 38  highwayCD        41144 non-null  float64
 39  highwayE         41144 non-null  float64
 40  highwayUF        41144 non-null  float64
 41  hlv              41144 non-null  int64
 42  hpv              41144 non-null  int64
 43  id               41144 non-null  int64
 44  lv2              41144 non-null  int64
 45  lv4              41144 non-null  int64
 46  make             41144 non-null  object
 47  model            41144 non-null  object
 48  mpgData          41144 non-null  object
 49  phevBlended      41144 non-null  bool
 50  pv2              41144 non-null  int64
 51  pv4              41144 non-null  int64
 52  range            41144 non-null  int64
 53  rangeCity        41144 non-null  float64
 54  rangeCityA       41144 non-null  float64
 55  rangeHwy         41144 non-null  float64
 56  rangeHwyA        41144 non-null  float64
 57  trany            41133 non-null  object
 58  UCity            41144 non-null  float64
 59  UCityA           41144 non-null  float64
 60  UHighway         41144 non-null  float64
 61  UHighwayA        41144 non-null  float64
 62  VClass           41144 non-null  object
 63  year             41144 non-null  int64
 64  youSaveSpend     41144 non-null  int64
 65  guzzler          2423 non-null   object
 66  trans_dscr       15047 non-null  object
 67  tCharger         6872 non-null   object
 68  sCharger         840 non-null    object
 69  atvType          3560 non-null   object
 70  fuelType2        1606 non-null   object
 71  rangeA           1601 non-null   object
 72  evMotor          852 non-null    object
 73  mfrCode          10326 non-null  object
 74  c240Dscr         81 non-null     object
 75  charge240b       41144 non-null  float64
 76  c240bDscr        79 non-null     object
 77  createdOn        41144 non-null  object
 78  modifiedOn       41144 non-null  object
 79  startStop        9440 non-null   object
 80  phevCity         41144 non-null  int64
 81  phevHwy          41144 non-null  int64
 82  phevComb         41144 non-null  int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 25.8+ MB

In [42]:
print(f'Count of non-missing values for city08: {df.city08.count()},'
f' out of {df.city08.size}')
print(f'Count of non-missing values for sCharger: {df.sCharger.count()},'
f' out of {df.sCharger.size}')

Count of non-missing values for city08: 41144, out of 41144
Count of non-missing values for sCharger: 840, out of 41144

In [44]:
print(f'Number of unique entries for cylinders: {df.cylinders.nunique()}')

Number of unique entries for cylinders: 9

In [46]:
print(f'Mean city08: {df.city08.mean()}')
print(f'Max city08: {df.city08.max()}')

Mean city08: 18.369045304297103
Max city08: 150

In [52]:
df.city08.agg(['empty', 'count', 'size', 'nunique', 'mean', max])

empty          False
count          41144
size           41144
nunique          105
mean       18.369045
max              150
Name: city08, dtype: object